@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* .btn-danger {
    background-color: #bd0001;
    border-radius: 10px;
    border-color: #bd0001;
    padding: 10px 45px;
    color: white;
} */

.btn-outline-danger {
    background-color: transparent;
    border-radius: 10px;
    border-color: #bd0001;
    padding: 10px 45px;
    color: #bd0001;
}

.nav-item .nav-link {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.scroll-nav-active {
    background-color: white;
    /* border-bottom: 1px solid #bd0001; */
    box-shadow: 1px 1px 11px -1px rgba(1, 1, 1, 0.08);
}

.text-nav-active {
    color: black;
}

#hero {
    background-image: url("../../assets/yoiki/utama.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

.hero-title {
    padding-top: 200px;
}

.hero-text {
    font-size: 65px;
    font-weight: 600;
}

@media screen and (min-width: 450px) {
    .hero-text {
        font-size: 35px;
        font-weight: 600;
    }
}

@media screen and (min-width: 550px) {
    .hero-text {
        font-size: 35px;
        font-weight: 600;
    }
}

@media screen and (min-width: 800px) {
    .hero-text {
        font-size: 65px;
        font-weight: 600;
    }
}

.stripe {
    height: 5px;
    width: 40px;
    background-color: #bd0001;
}

/* #video {
    background-image: url("../../assets/images/il-bg-video.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
} */

/* .section-foto {
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    height: 500px;
    width: 100%;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .parallax {
    background-image: url("../../assets/images/haidan-RhkbHU14MoA-unsplash.webp");
} */

.stripe-hitam {
    height: 5px;
    width: 40px;
    background-color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  